---
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import { projects } from '@/data/projects'

const headings = [{ depth: 2, slug: 'projects', text: 'Projects' }]
---

<PageLayout title='Projects' {headings} info={{ slug: '/projects', hideComment: true }}>
  <p>Selected projects and experiments.</p>

  <h2 id='projects'>Projects</h2>
  <ProjectSection project={projects} />
</PageLayout>
